<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bunny.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,104},{78,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{78,82}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>Carrot.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,104},{78,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{78,82}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>ColorfulFeathers.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,92},{88,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>DiamondTiger.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,104},{76,62}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{76,62}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>ElectricCat.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>EssenceofLife.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>ExoticFrog.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>FairyFruit.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,92},{68,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{68,84}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>Figurines.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,88},{70,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{70,82}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>LightningCloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,96},{88,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>MilkBeasts.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{84,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{84,52}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>MouseSoul.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>MushroomWorm.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,102},{82,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{82,72}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>RainbowFlower.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,104},{72,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{72,86}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>SnakeSpiritFlower.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>Soil.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>Staff.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,104},{72,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{72,90}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>StarGrass.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,104},{84,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{84,74}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>StrangeStone.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{88,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{88,58}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>StupidFish.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{82,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{82,70}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>ThunderbirdSoul.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{88,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,98}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>Totem.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,86},{60,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{60,82}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>ToyWorm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{80,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,20},{80,60}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>VenetianFruit.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{84,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>rect-brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Icon.png</string>
            <key>size</key>
            <string>{1020,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b208eb18b9ae6635b945734dc129367:4250cb612b66deb58ef634f9ed69d218:2c62d0830285c57320101bde2c9cd855$</string>
            <key>textureFileName</key>
            <string>Icon.png</string>
        </dict>
    </dict>
</plist>
